<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
>
	<testsuites>
		<testsuite name="composer-prefer-lowest">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

    <!-- Prevent coverage reports from looking in tests, vendor, bin folders -->
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

</phpunit>
